body,
html {
  background: #f7f5f0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #35332e;
}

h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800 !important;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  color: #35332e !important;
}

a.contact {
  background: #35332e !important;
  color: white !important;
}
